process {
    withName:trimSequences {
        container = '/data/home/gabriele/Misc/nextflow/singularity_images/fastp:0.20.1--h8b12597_0'
   }
   withName:fastaIndex {
        container = '/data/home/gabriele/Misc/nextflow/singularity_images/samtools:1.16.1--h6899075_0'
   }
    withName:gatkIndex {
        container = '/data/home/gabriele/Misc/nextflow/singularity_images/picard:2.26.3--hdfd78af_0'
   }
    withName:bwaIndex {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bwa:0.7.17--h5bf99c6_8'
   }
    withName:bwaMap {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bwa:0.7.17--h5bf99c6_8'
   }
    withName:samtoolsSort {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/samtools:1.16.1--h6899075_0'
   }
   withName:addRG {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/picard:2.26.3--hdfd78af_0'
   }
    withName:dupRemoval {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/picard:2.26.3--hdfd78af_0'
   }
    withName:realignIndel {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/gatk:3.8--9'
   }
   withName:samtoolsRealignedIndex {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/samtools:1.16.1--h6899075_0'
   }
   withName:calculateDepth {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/samtools:1.16.1--h6899075_0'
   }
   withName:calculateGenesDepth {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bedtools:2.27.1--0'
   }
   withName:calculateWindowsDepth {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bedtools:2.27.1--0'
   }
   withName:calculateWgDepth {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bedtools:2.27.1--0'
   }
    withName:snpCalling {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bcftools:1.16--hfe4b78e_1'
   }
   withName:concatVCFs {
   container = '/data/home/gabriele/Misc/nextflow/singularity_images/bcftools:1.16--hfe4b78e_1'
   }
}
apptainer {
    enabled = true
    apptainer.autoMounts = true
}
